analysis of chattanooga bike data
python3

In [2]:
import pandas as pd

In [3]:
b = pd.read_csv("bike_data.csv")

In [4]:
pd.set_option('display.max_columns', 80) 
b.head(3)

,SubscriberID,MemberType,TripDurationSec,BikeID,StartDay,StartDateTime,StartDate,StartTime,StartStationName,StartStationID,EndDay,EndDateTime,EndDate,EndTime,EndStationName,EndStationID
0,17963,Customer,802,C00026,Sunday,02/10/2013 05:48:00 AM,02/10/2013,05:48,200 River St Outdoor Chattanooga,1299,Sunday,02/10/2013 06:01:00 AM,02/10/2013,06:01,Market & E 4th Street,1307
1,25611,Subscriber,76112,C00188,Saturday,09/14/2013 08:35:00 PM,09/14/2013,20:35,100 Walnut St,1319,Sunday,09/15/2013 05:43:00 PM,09/15/2013,17:43,200 River St Outdoor Chattanooga,1299
2,18045,Subscriber,527,C00258,Friday,08/16/2013 11:13:00 PM,08/17/2013,23:13,ML King Blvd & Lindsay St,1327,Friday,08/16/2013 11:22:00 PM,08/17/2013,23:22,ML King Blvd & Lindsay St,1327

In [5]:
len(b)

126738

In [6]:
b.dtypes

SubscriberID         int64
MemberType          object
TripDurationSec      int64
BikeID              object
StartDay            object
StartDateTime       object
StartDate           object
StartTime           object
StartStationName    object
StartStationID       int64
EndDay              object
EndDateTime         object
EndDate             object
EndTime             object
EndStationName      object
EndStationID         int64
dtype: object

extract station names and IDs
*get locations for routing in google maps

In [7]:
stations = b['StartStationName'].unique()
for s in stations:
    print(s)

200 River St Outdoor Chattanooga
100 Walnut St
ML King Blvd & Lindsay St
Broad St & W 4th St
1216 Broad St
100 Manufacturers Rd
Carter St & W 12th St
500 Georgia Ave
215 Broad St
Hubert Fry Center Tennessee Riverpark
Chestnut St & Riverfront Pkwy
Market St & Cowart St
800 E 8th St
Market St & E 14th St
Market & E 4th Street
E Main St & Rossville Ave
High St & E 2nd St
Market St & ML King Blvd
Power Alley & Riverfront Pkwy
Broad St & W 10th St
1826 Carter St
Oak St & University Greenway
Broad St & W 6th St
W Main St & Cowart St
Douglas St
Broad St & W 8th St
Market St & W 12th St
Pine St. & W. 6th St.
Oak St & Houston St
E 5th St & Collins St
301 Manufacturers Rd
SpringHill Suites
McCallie Ave & Lindsay St
LN1
Alex7
PBSCTEST
NYC1
Naesta1

* questions
  1. how many bike checkouts per time unit throughout the week
  2. how man returns per time unit throughout week
  3. what routes are used more often?
  4. what businesses are close to each station?
    * score by proximity?
    * by type of business? attraction?
  5. what parking is nearby?
  6. station utilization
  7. individual bike utilization
  8. how do we predict where there is a shortage of bikes?
  
* stations
  * distance between each https://developers.google.com/maps/documentation/distance-matrix/intro
  

* make usable map
  1. Convert station id and station name into usable addresses for google maps
  2. put in csv uploadable to google maps
  3. create shared map in google maps
  4. figure out how to use KML file to make fancy icons that can show bike usage

In [11]:
stationIDs = b[['StartStationID','EndStationID']]

In [13]:
stationIDs

        StartStationID  EndStationID
0                 1299          1307
1                 1319          1299
2                 1327          1327
3                 1343          1349
4                 1349          1349
5                 1297          1319
6                 1299          1299
7                 1297          1301
8                 1299          1319
9                 1319          1313
10                1315          1307
11                1353          1337
12                1303          1311
13                1373          1321
14                1313          1313
15                1311          1325
16                1319          1299
17                1333          1333
18                1349          1349
19                1373          1373
20                1315          1325
21                1305          1325
22                1307          1351
23                1299          1309
24                1311          1421
25                1341          1345
26                1321          1319
27                1325          1311
28                1325          1309
29                1299          1313
...                ...           ...
126708            1323          1345
126709            1420          1323
126710            1299          1299
126711            1325          1341
126712            1319          1313
126713            1311          1307
126714            1351          1341
126715            1321          1321
126716            1373          1373
126717            1325          1349
126718            1341          1363
126719            1343          1343
126720            1299          1311
126721            1313          1313
126722            1299          1319
126723            1299          1307
126724            1299          1323
126725            1341          1325
126726            1373          1321
126727            1299          1351
126728            1299          1343
126729            1420          1327
126730            1307          1325
126731            1335          1299
126732            1313          1313
126733            1345          1345
126734            1420          1343
126735            1311          1311
126736            1317          1331
126737            1351          1351

[126738 rows x 2 columns]

In [45]:
melt=pd.melt(b,id_vars='StartStationName')

In [46]:
b.describe()

        SubscriberID  TripDurationSec  StartStationID   EndStationID
count  126738.000000     1.267380e+05   126738.000000  126738.000000
mean    31023.762991     1.571647e+04     1325.803374    1325.584182
std     11942.540808     3.810332e+06       26.464226      26.529067
min     11077.000000     0.000000e+00     1297.000000    1297.000000
25%     20489.000000     5.350000e+02     1305.000000    1305.000000
50%     31463.000000     1.391000e+03     1319.000000    1319.000000
75%     40807.000000     2.707000e+03     1341.000000    1341.000000
max     51496.000000     1.351370e+09     1428.000000    1428.000000

In [47]:
bbystart = b.groupby('StartStationName')

In [1]:
#b.groupby(stations)